/*font-family: 'Sacramento', cursive;
font-family: 'Alegreya', serif;
*/




body{

	margin-left: 8%;
	margin-right: 8%;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	background-color: rgb(255,182,193);
	background-image: url("back.gif");
	
}

h1{
	text-align: center;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgba(255, 255, 255, .6);
	font-family: 'Sacramento', cursive;
	font-size: 450%;
	color: navy;
	border-radius: 5px;
	max-width: 85%;
	padding: 2%;
}

nav{

	background-color: white;
	border-radius: 6px;
	margin-bottom: 5%;
}

nav a{
	text-decoration: none;
	background-color: white;
	font-family: 'Sacramento', cursive;
	color: navy;
	font-size: 200%;
	border-radius: 10px;


	/*color: white
	background-color: navy;
	border-radius: 5px;*/
}

ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

a{
	
}





main{
	background-color: rgba(255, 255, 255, .7);
	border-radius: 10px;
}


h2{
	text-align: center;
	font-family: 'Sacramento', cursive;
	background-color: navy;
	color: white;
	font-size: 300%;
	padding-bottom: 2%;
	padding-top: 2%;	
	border-radius: 10px;
	margin: 0 auto;
	max-width: 69%;
	margin-top: 5%;
	margin-bottom: 5%;
}


p{

	text-align: center;
	margin-bottom: 2%;
	margin-right: 15%;
	margin-left: 15%;
	font-family: 'Alegreya', serif;
	font-size: 125%;
	color: navy;

}
