body{

	margin-left: 8%;
	margin-right: 8%;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

h1{
	text-align: center;
	margin-top: 5%;
}

ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

h2{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}


p{

	text-align: center;
	margin-bottom: 2%;
	margin-right: 10%;
	margin-left: 10%;
}